@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  background-color: #000;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  user-select: none;
  font-weight: 300;
}

:root {
  --color1: #fff;
  --color2: #444;
  --color3: #888;
  --bcolor: #000;
}

.apps {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 25px;
}

.app {
  display: inline-block;
  --w: 150px;
  width: var(--w);
  aspect-ratio: 1 / 1.6;
  border-radius: 10px;
  background: var(--bcolor);
  color: var(--color3);
  line-height: calc(var(--w) * 1.6);
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0.05rem;
  background: linear-gradient(
    to bottom right,
    #222 25%,
    #000,
    hsla(var(--accent), 0.25),
    hsl(var(--accent)) 110%
  );
}

.app:hover {
  transform: scale(1.2);
  box-shadow: 0 0 0 1px hsl(var(--accent));
  color: hsl(var(--accent));
  font-weight: 600;
}

.app:nth-child(1) {
  --accent: 349, 88%, 61%;
}

.app:nth-child(2) {
  --accent: 180, 100%, 50%;
}
