@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  user-select: none;
  font-weight: 300;
}

:root {
  --color1: #fff;
  --color2: #444;
  --color3: #888;
  --bcolor: #000;
}

.apps {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 35px;
}

.app {
  all: unset;
  --w: 150px;
  width: var(--w);
  aspect-ratio: 1 / 1.5;
  border-radius: 15px;
  line-height: calc(var(--w) * 1.5);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.3rem;
  cursor: pointer;
  font-weight: 300;
  transition: .3s;

  /* box shadow vars */
  --offset: 4px;
  --spread: 10px;
}

.app:nth-child(1) {
  color: hsl(349, 88%, 61%);
}

.app:nth-child(2) {
  color: hsl(195, 100%, 50%);
}

.app:nth-child(3) {
  color: hsl(84, 100%, 50%);
}

/* themes */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #2a2a2a;
  }

  .app {
    box-shadow: calc(-1 * var(--offset)) var(--offset) var(--spread) #111,
      var(--offset) calc(-1 * var(--offset)) var(--spread) #343434,
      calc(-1 * var(--offset)) var(--offset) var(--spread) transparent inset,
      var(--offset) calc(-1 * var(--offset)) var(--spread) transparent inset;
  }

  .app:hover {
    box-shadow: calc(-1 * var(--offset)) var(--offset) var(--spread) transparent,
      var(--offset) calc(-1 * var(--offset)) var(--spread) transparent,
      calc(-1 * var(--offset)) var(--offset) var(--spread) #111 inset,
      var(--offset) calc(-1 * var(--offset)) var(--spread) #3a3a3a inset;
    /* cant transition to inset because it is a keyword and not numeric value so using transparent color instead*/
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ededed;
  }

  .app {
    box-shadow: calc(-1 * var(--offset)) var(--offset) var(--spread) #c0c0c0,
      var(--offset) calc(-1 * var(--offset)) var(--spread) #fff,
      calc(-1 * var(--offset)) var(--offset) var(--spread) transparent inset,
      var(--offset) calc(-1 * var(--offset)) var(--spread) transparent inset;
  }

  .app:hover {
    box-shadow: calc(-1 * var(--offset)) var(--offset) var(--spread) transparent,
      var(--offset) calc(-1 * var(--offset)) var(--spread) transparent,
      calc(-1 * var(--offset)) var(--offset) var(--spread) #c0c0c0 inset,
      var(--offset) calc(-1 * var(--offset)) var(--spread) #fff inset;
  }
}
/*  */
