@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --accent-color: #fd0202;
    --icon-color: #666;
    --background-color-main: #fff;
    --text-color-main: #000;
    --text-color-light: #777;
    --active-color: rgba(221, 221, 221, 0.5);
    --light-green: rgb(94, 211, 94);
    --doc-height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

html {
    font-family: "Poppins", sans-serif;
    user-select: none;
    box-sizing: border-box;
    overscroll-behavior-y: contain;
    font-size: .9rem;
    line-height: unset;
}

body {
    display: block;
    width: 100vw;
    height: var(--doc-height);
    overflow: hidden;
    user-select: none;
}

.main-container {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100%;
    max-height: 100%;
    height: 100%;
}

.title-container {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    padding: 10px;
    place-items: center;
    gap: 15px;
    /* background-color: #332d2b; */
}

.logo {
    height: 40px;
    aspect-ratio: 2.273 / 1;
    justify-self: left;
    border-radius: 10px;
    /* color: #eff0f0;
    color: #e6232a; */
}

.theme {
    display: contents;
}

/* .theme svg {
    color: var(--background-color-main) !important;
} */

.theme>input:not(:checked)~svg:nth-child(3) {
    display: none;
}

.theme>input:checked+svg {
    display: none;
}

.tab-container {
    display: grid;
    grid: repeat(2, min-content) / repeat(3, 1fr);
    place-items: center;
    padding-block: 10px;
    row-gap: 3px;
}

.tab-container::before {
    content: '';
    width: 20%;
    height: 5px;
    background-color: var(--accent-color);
    border-radius: 999px;
    transition: margin .2s;
    z-index: 10;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.tab-container:has(.tab:nth-child(1) > input:checked)::before {
    margin-left: 0;
}

.tab-container:has(.tab:nth-child(2) > input:checked)::before {
    margin-left: 200%;
}

.tab-container:has(.tab:nth-child(3) > input:checked)::before {
    margin-left: 400%;
}

.tab-container input,
.theme>input {
    display: none;
}

.tab {
    all: unset;
    display: flex;
    flex-direction: column;
    place-items: center;
    color: var(--icon-color);
    /* gap: 5px; */
    grid-row: 2;
    font-size: .8rem;
}

/* .tab>* {
    pointer-events: none;
} */

.tab:has(input:checked) {
    border-top-color: var(--accent-color);
}

.tab>input:checked+svg {
    color: var(--accent-color);
}

svg.icon {
    color: var(--icon-color);
    width: 20px;
    aspect-ratio: 1;
    border-radius: 999px;
    overflow: visible;
    /* transition: .3s; */
    padding: 5px;
    fill: transparent;
}

/* svg.icon:active {
    background-color: var(--icon-active-color);
    outline: 35px solid var(--icon-active-color);
} */

.main {
    --padding: 20px;

    display: flex;
    flex-direction: row;
    overflow-x: overlay;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.main::-webkit-scrollbar {
    display: none;
}

.profile-container,
.post-container {
    width: 100%;
    scroll-snap-align: start;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-bottom: var(--padding);
}

.profile-container {
    display: grid;
    height: 100%;
    /* grid-template-rows: repeat(4, min-content) 1fr min-content; */
    grid-auto-rows: min-content;
    /* gap: 10px; */
    place-items: center;
    padding-inline: 20px;
}

.profile-pic {
    border-radius: 999px;
    width: 35%;
    aspect-ratio: 1 / 1;
    border: 5px solid #fff;
}

.profile-name {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}

.profile-join-time,
.profile-qr-code-info {
    color: var(--text-color-light);
}

.logout-btn {
    border-radius: 999px;
    appearance: none;
    padding: 10px 30px;
    margin-top: 10px;
    border: none;
    background-color: var(--accent-color);
    color: #fff;
}

.profile-qr-code {
    padding: 10px;
    max-width: calc(80% - 2 * 20px);
    border-radius: 20px;
    outline: 2px solid var(--accent-color);
    margin-block: 20px 10px;
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    overflow-x: overlay;
    overflow-y: overlay;
    position: relative;
    transform: translate3d(0, 0, 0);
}

.post {
    display: grid;
    grid: repeat(4, min-content) / min-content 1fr;
    /* box-shadow: 0 5px 5px 0 #aaa; */
    /* border-radius: 10px; */
    column-gap: 15px;
    /* padding: 10px; */
    place-items: center;
}

.post-profile-pic {
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 999px;
    grid-row: 1 / 3;
    margin-left: 20px;
}

.post-profile-name,
.post-time {
    grid-column: 2 / 3;
    justify-self: flex-start;
}

.post-profile-name {
    align-self: end;
    font-weight: bold;
}

.post-time {
    align-self: start;
    color: var(--text-color-light);
}

.post-description,
.post-attachment {
    grid-column: 1 / 3;
    margin-top: 10px;
    width: 100%;
}

.post-description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
    width: calc(100% - 2 * var(--padding));
    text-align: justify;
}

.post-description::after {
    content: 'Read more...';
    display: block;
    color: var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, var(--background-color-main), transparent);
    padding-top: calc(1rem * 1.4 * 2);
    width: 100%;
}

.post-description input {
    display: none;
}

.post-description:has(input:checked)::after {
    /* content: "minder";
    position: static; */
    content: unset;
}

.post-description:has(input:checked) {
    display: block;
}

.post-attachment {
    min-height: 25vh;
    max-height: 40vh;
    display: flex;
    flex-direction: row;
    overflow-x: overlay;
    /* overflow-y: hidden; */
    scroll-snap-type: x mandatory;
    /* scroll-behavior: smooth; */
    -webkit-overflow-scrolling: touch;
    background-color: #000;
    position: relative;
    transform: translate3d(0, 0, 0);
}

.post-attachment::-webkit-scrollbar {
    /* height: 5px; */
    opacity: .5;
}

.post-attachment::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 999px;
    background-clip: content-box;
    border: 5px solid transparent;
}

.post-attachment>* {
    width: 100%;
    max-height: 100%;
    scroll-snap-align: start;
    flex-shrink: 0;
    counter-increment: child;
    overflow: hidden;
}

.post-attachment>*>* {
    height: 100%;
    width: 100%;
}

.post-attachment img {
    object-fit: contain;
    object-position: center;
}

.post-attachment::after,
.post-attachment>*::after {
    color: #fff;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    position: sticky;
    opacity: 0.7;
}

.post-attachment:has(div:not(:only-child))::after {
    content: "/" counter(child);
    right: 0;
}

.post-attachment:has(:nth-child(2))>*::after {
    content: counter(child);
    bottom: 100%;
    left: calc(100% - 5px - 5ch);
}

.toggle {
    display: flex;
    place-items: center;
}

.toggle:focus>.context-menu {
    display: flex;
}

.context-menu {
    position: fixed;
    z-index: 1000;
}

.options-overlay {
    padding: unset;
    margin: unset;
    background-color: var(--background-color-main);
    border-radius: 5px;
    top: 50px;
    right: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px -5px var(--text-color-light);
    padding: 10px;
    display: none;
}

.options-overlay>* {
    display: inline-block;
    padding: 10px 40px;
}

.options-overlay>*:active {
    background-color: var(--active-color);
}

.options-overlay>*:not(:last-child) {
    border-bottom: 1px solid var(--text-color-light);
}

.current-gym-stat {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    /* background-color: var(--active-color); */
    background: linear-gradient(to bottom right, var(--active-color), transparent);
    margin-inline: 20px;
    border-radius: 10px;
    padding: 10px;
    place-items: center;
    position: relative;
}

.current-gym-stat::before {
    content: 'i';
    --fs: 15px;
    font-size: calc(var(--fs) - 2px);
    font-weight: bold;
    position: absolute;
    width: var(--fs);
    aspect-ratio: 1 / 1;
    top: 10px;
    left: 10px;
    border-radius: 999px;
    opacity: .3;
    border: 1px solid;
    overflow: hidden;
    text-align: center;
    line-height: var(--fs);
    font-family: 'Courier New', Courier, monospace;
}

.gym-open-close {
    padding: 3px 8px;
    background-color: var(--light-green);
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 5px;
    color: green;
}

.member-count {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    /* background: linear-gradient(to top, white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.member-count::before,
.member-count::after {
    font-size: 1rem;
    opacity: .5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* width: max-content; */
    font-size: 0.9rem;
}

.member-count::before {
    content: 'Currently';
    right: calc(10px + 100%);
}

.member-count::after {
    content: 'members';
    left: calc(10px + 100%);
}

.countdown-hours,
.countdown-minutes {
    color: var(--accent-color);
    font-weight: bold;
}

.countdown {
    /* background: linear-gradient(to right, var(--active-color), transparent); */
    background-color: var(--active-color);
    padding: 3px;
    border-radius: 3px;
}

.countdown-hours::after,
.countdown-minutes::after {
    color: var(--text-color-main);
    font-weight: normal;
}

.countdown-hours::after {
    content: ' hours, ';
}

.countdown-minutes::after {
    content: ' minutes';
}

/* .test {
    position: fixed;
    top: 0;
    left: 0;
} */

.overlay-container {
    display: contents;
    font-size: 1rem;
}

.overlay {
    position: fixed;
    width: 100%;
    top: 0;
    min-height: var(--doc-height);
    max-height: var(--doc-height);
    z-index: 1000;
}

.overlay:not([open]) {
    display: none;
}

.overlay::-webkit-scrollbar {
    display: none;
}

.settings-container {
    /* background-color: rgb(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: column;
    overflow-y: overlay;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.settings-container>.padding {
    scroll-snap-align: start;
}

.padding.padding-top {
    min-height: 100vh;
}

.padding.padding-middle {
    min-height: 40vh;
}

.settings {
    min-height: var(--doc-height);
    background-color: var(--background-color-main);
    border-radius: 20px 20px 0 0;
    scroll-snap-align: start;
    overscroll-behavior: contain;
    transform: translateY(100%);
    animation: slide-to-top .3s forwards;
    box-shadow: 0 0 5px 0 #666;
}

.settings::before {
    content: '';
    background-color: var(--active-color);
    border-radius: 999px;
    display: inline-block;
    width: 10%;
    height: 5px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes slide-to-top {
    from {
        transform: translateY(100%);
    }

    to {
        transform: none;
    }
}

.settings-title-container {
    display: grid;
    grid: 1fr / 1fr min-content;
    place-items: center;
    margin-inline: 10px;
    border-bottom: 1px solid var(--active-color);
    padding-block: 15px 10px;
    padding-left: 30px;
}

.settings-main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.setting {
    display: flex;
    gap: 20px;
    align-items: center
}

.setting.toggle input[type=checkbox] {
    accent-color: var(--accent-color);
}

.setting.options select {
    border-radius: 5px;
    padding: 5px;
    margin-left: auto;
    background-color: var(--active-color);
    border: none;
}