@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --mborder: 1px solid var(--color3);
  --mcinput: hidden;
  --grid-h: 3;
  --grid-v: 4;
  --pmargin: 1cm;
  --fsize: 7pt;
  --awidth: 0.1rem;
  --asize: 0.25rem;

  --default-biurl: none;
  --bfsize: calc(var(--fsize) + 4pt);
  --spacer: 10px;

  --vehicle-spacer: 5px;
  --vehicle-width: calc(var(--fsize) + 5pt);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color0: #999;
    --color1: #fff;
    --color2: #2a2a2a;
    --color3: #666;
    --color4: #555;
    --bcol1: #444;
    --bcol2: rgb(70, 70, 70);
    --invert: 1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color0: #555;
    --color1: #000;
    --color2: #fff;
    --color3: #7a7a7a;
    --color4: #ccc;
    --bcol1: rgb(204, 204, 204);
    --bcol2: rgb(200, 200, 200);
    --invert: 0;
  }
}

body {
  display: grid;
  place-items: center;
  background-color: var(--bcol1);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

page {
  background-color: var(--color2);
  margin: 0 0 0.5cm 0;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  counter-reset: c;
  position: relative;
  pointer-events: none;
  color: var(--color1);
  outline: 1px solid var(--color4);
  user-select: none;
  background-image: var(--default-biurl);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

page .maquettecontainer {
  display: grid;
  place-items: center;
  margin: var(--pmargin);
  column-gap: 10px;
  transition: 0.3s;
  width: calc(100% - (2 * var(--pmargin)));
  /* --rgp: 20pt;
  margin-top: calc(var(--pmargin) + var(--rgp) + var(--fsize));
  row-gap: max(10px, var(--rgp) + var(--fsize));
  height: calc(100% - (2 * var(--pmargin)) - var(--rgp) - var(--fsize)); */

  /* margin-top: calc(var(--pmargin) + var(--bfsize) + var(--spacer)); */
  /* row-gap: max(10px, var(--bfsize) + var(--spacer)); */
  /* height: calc(100% - (2 * var(--pmargin)) - var(--bfsize) - var(--spacer)); */
  height: calc(100% - 2 * var(--pmargin));
  row-gap: 5px;

}

page[layout="portrait"] .maquettecontainer {
  /* grid: repeat(var(--grid-v), minmax(0, 1fr)) / repeat(var(--grid-h),
      minmax(0, 1fr)); */
  /* grid: repeat(calc(2 * var(--grid-v)), minmax(0, max-content)) / repeat(var(--grid-h), minmax(0, 1fr)); */
  grid: repeat(var(--grid-v), min-content 1fr) / repeat(var(--grid-h), 1fr);
}

page[layout="landscape"] .maquettecontainer {
  /* grid: repeat(var(--grid-h), minmax(0, 1fr)) / repeat(var(--grid-v),
      minmax(0, 1fr)); */
  grid: repeat(var(--grid-h), min-content 1fr) / repeat(var(--grid-v), 1fr);
}

.maquettecontainer .row_separator {
  cursor: pointer;
  pointer-events: auto;
  display: grid;
  /* grid: 1fr / repeat(3, minmax(auto, 100%)); */
  grid-auto-flow: column;
  grid-auto-columns: minmax(auto, 1fr);
  width: 100%;
  outline: 1px dashed var(--color3);
  margin: unset;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}

/* .maquettecontainer .row_separator:has(:nth-child(2):last-child) {
  grid: 1fr / repeat(2, 1fr);
} */

.maquettecontainer .row_separator>* {
  text-align: center;
  font-size: var(--bfsize);
  font-weight: 500;
  text-decoration: underline;
  height: calc(var(--bfsize) + var(--spacer));
  line-height: calc(var(--bfsize) + var(--spacer));
  outline: 1px dashed var(--color3);
  white-space: nowrap;
  text-overflow: clip;
}

.maquettecontainer .row_separator>*:focus-visible {
  outline: none;
  background-color: #88888850;
}

page[layout="portrait"] .maquettecontainer .row_separator {
  grid-column: 1 / max(var(--grid-h), var(--grid-v));
}

page[layout="landscape"] .maquettecontainer .row_separator {
  grid-column: 1 / max(var(--grid-h) + 1, var(--grid-v) + 1);
}

page[size="A4"][layout="portrait"] {
  width: 21cm;
  height: 29.7cm;
}

page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}

page[size="A3"][layout="portrait"] {
  width: 29.7cm;
  height: 42cm;
}

page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}

@media print {
  :root {
    --color1: #000 !important;
    --color2: #fff !important;
    --color3: #666;
    --bcol2: rgb(200, 200, 200);
  }

  body,
  page {
    margin: 0;
    box-shadow: unset;
    outline: 0;
    background-image: var(--biurl, none);
  }

  page:not(:first-child) {
    margin-top: 0.5px;
  }

  .settings_container,
  #page-count,
  #instructions {
    display: none !important;
  }

  .maquette>input,
  .maquette[default] {
    visibility: hidden !important;
  }

  .c>div:not(.sign):empty {
    display: none !important;
  }

  .content[restart-c]::after {
    background-color: #fff !important;
  }

  .sign {
    background-color: transparent !important;
  }

  .row_separator,
  .row_separator>* {
    outline: none !important;
  }

  .text-content {
    resize: none !important;
    overflow: hidden !important;
    background-color: unset !important;
  }
}

.maquette {
  aspect-ratio: 1;
  position: relative;
  outline: var(--no-border, var(--mborder));
  justify-content: center;
  gap: 10px;
  min-width: 0;
  min-height: 0;
  pointer-events: auto;
}

.maquette>button {
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  color: inherit;
  place-self: center;
}

.maquette>button:hover {
  background-color: var(--color3) !important;
  /* color: var(--color1) !important; */
}

.maquette>button:first-child {
  margin-top: auto;
}

.maquette>button:last-child {
  margin-bottom: auto;
}

page[layout="portrait"] .maquette {
  /* width: 100%; */
  height: 100%;
}

page[layout="landscape"] .maquette {
  height: 100%;
}

.maquette>.content {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  pointer-events: none;
  font-size: calc(var(--fsize) + 2pt);
  overflow: hidden;
}

.maquette>.content:not([no-c]) {
  counter-increment: c;
}

.content::before {
  content: var(--custom-type, attr(type));
  padding: 10px;
  pointer-events: auto;
  cursor: pointer;
  font-size: calc(var(--fsize) + 3pt);
}

.content[restart-c]:not([no-c]) {
  counter-set: c 1;
}

.content[restart-c]::after {
  background-color: salmon;
}

.content:not([no-c])::after {
  content: counter(c);
  position: absolute;
  top: 5px;
  left: 5px;
  border: 1px solid var(--color1);
  border-radius: 999px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max(var(--pmargin) - 15px, var(--fsize) + 10px);
  aspect-ratio: 1;
  color: var(--color1);
  overflow: hidden;
}

.maquette>.content>* {
  pointer-events: auto;
}

.maquette>.text-content {
  all: unset;
  height: calc(100% + 1px);
  max-width: calc(var(--grid-h) * (100% + var(--spacer)));
  min-width: 100%;
  font-size: calc(var(--fsize) + 3pt);
  box-sizing: border-box;
  resize: horizontal;
  background-color: #88888850;
}

.maquette>.text-content:focus-visible,
.maquette>.text-content:hover {
  outline: none;
  background-color: #88888877;
}

.maquette:has(.text-content) {
  outline: none;
  z-index: 100;
}

.maquette .c {
  display: inline-block;
  width: 27.5%;
  aspect-ratio: 1;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  border-color: var(--color0) var(--color0) transparent transparent;
  border-top-right-radius: 5px;
  font-size: var(--fsize);
}

/* for fietspad and no*/

.maquette .c.no+.c,
.maquette .c.fp+.c,
.maquette:has(.no:last-child,
  .fp:last-child) .c:first-child {
  /* display: none; */
  visibility: hidden;
}

.maquette .c.no::before,
.maquette .c.fp::before {
  content: "";
  height: calc(371% + 18px);
  position: absolute;
  height: calc(371% + 18px);
  left: 100%;
  pointer-events: none;
  bottom: -3px;
  z-index: -1;
  pointer-events: none;
}

.maquette .c.no::before {
  /* background-color: var(--color2); */
  background-color: #fff;
  width: 0;
  border-right: 3px solid var(--color0);
}

.maquette .c.fp::before {
  background-color: var(--bcol2);
  /* background-image: radial-gradient(var(--c) 1px, transparent 0);
    background-size: 5px 5px;
    background-position-x: 1px; */
  width: 11px;
  border-style: solid;
  border-width: 0 1px 0 3px;
  border-color: transparent var(--color3) transparent var(--color0);
}

.maquette .c.fp,
.maquette .c.no {
  border-top-color: transparent;
  border-radius: 0;
}

/*  */

.maquette .c.zw::before,
.maquette .c.zw::after {
  content: "";
  position: absolute;
  pointer-events: none;
  --w: 8px;
  visibility: visible;
}

.maquette .c.zw::before {
  width: var(--w);
  aspect-ratio: 1;
  border-radius: 999px;
  border: 1px solid var(--color1);
  top: -100%;
  left: -2px;
}

.maquette .c.zw::after {
  width: 1px;
  background-color: var(--color1);
  --h: 25px;
  height: var(--h);
  /* top: calc(-100% - 2px - ((var(--h) - var(--w)) / 2)); */
  top: -100%;
  translate: 0 calc(-50% + (var(--w) + 2px) / 2);
  left: calc(var(--w) / 2 + 0.5px - 2px);
}

.maquette .c.vp {
  color: var(--color2);
  box-shadow: -6px -15px, -8px -17px var(--color3);
}

.maquette .c.inrit-s::before,
.maquette .c.inrit-b::before {
  position: absolute;
  top: -2px;
  font-size: calc(var(--fsize) + 3pt);
  font-style: italic;
  transform-origin: 0 0;
  text-align: center;
  transform: rotate(-90deg);
  width: calc(163.62% + 4 * 3px);
  color: var(--color0);
}

.maquette .c.inrit-b::before {
  content: 'Inrit B';
}

.maquette .c.inrit-s::before {
  content: 'Inrit S';
}

.maquette .c.inrit-s,
.maquette .c.inrit-b,
.maquette .c.no,
.maquette .c.zw,
.maquette .c.fp {
  z-index: 100;
}

.maquette .c::before,
.maquette .c::after {
  pointer-events: none;
}

.maquette .tl {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  --r: 90deg;
}

.maquette .tr {
  top: 0;
  right: 0;
  transform: rotate(180deg);
  --r: 180deg;
}

.maquette .br {
  bottom: 0;
  right: 0;
  transform: rotate(-90deg);
  --r: -90deg;
}

.maquette .bl {
  bottom: 0;
  left: 0;
  --r: 0deg;
}

.v,
.f {
  position: absolute;
  top: 0;
  left: calc(100% + var(--vehicle-spacer) * 3);
  background-color: var(--bcol);
  border: 1px solid var(--color1);
  /* width: 30%; */
  width: var(--vehicle-width);
  --vhr: 1.5;
  aspect-ratio: 1 / var(--vhr);
  display: grid;
  place-items: center;
  --t: var(--asize);
  --w: var(--awidth);
  --h: 70%;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--color1);
}

.f {
  left: calc(100% + (var(--vehicle-spacer) * 3) / 2 + (var(--w) / 2));
  background-color: var(--color1);
  width: var(--w);
  /* height: calc(30% * var(--vhr)); */
  /* height: 30%; */
  height: var(--vehicle-width);
  border: unset;
  /* --hf: calc(var(--h) - 4px); */
  --h: 60%;
}

.f.b {
  display: none;
  /* top: calc(5px + 45%); */
  top: calc((2 * 1.5 * var(--vehicle-width)) + var(--vehicle-spacer) - var(--vehicle-width));
}

.c.fp .f.b {
  display: grid;
}

.c.fp .v {
  translate: 2px;
}

.f a {
  position: absolute;
  /* bottom: calc(-1 * var(--l)); */
  top: 100%;
}

.f[fbf] a {
  bottom: unset;
  top: calc(-100% - var(--vehicle-spacer) * 2);
  right: calc(var(--vehicle-spacer) + 3px);
}

.f.r[fbf] a,
.f.d[fbf] a {
  top: calc(-100% - var(--vehicle-spacer) / 2);
}

.c.fp .f:not(.b) a {
  bottom: calc(100% + 12px);
  /* right: -2px; */
}

.c.fp .f.b a {
  bottom: calc(-1 * var(--l) + 1px);
}

.f wb,
.f wf {
  display: inline-block;
  width: 5px;
  aspect-ratio: 1;
  border: 1px solid var(--color1);
  transform: translateX(calc(-50% + var(--w) / 2));
  box-sizing: border-box;
  background-color: var(--color2);
}

.f wf {
  place-self: flex-end;
}

.f wb {
  place-self: flex-start;
}

.v::before,
.f::before {
  content: "";
  position: absolute;
  bottom: 100%;
  width: calc(50% + (var(--w) / 2));
  height: var(--h);
  border: var(--w) solid var(--color1);
  border-bottom-width: 0;
  /* border-top-left-radius: 5px; */
  box-sizing: border-box;
  pointer-events: none;
  cursor: default;
}

.f.r {
  --h: 50%;
}

.f.r+.v.l {
  --h: 80%;
}

.f.l::before,
.f.r::before {
  width: 400%;
  left: 0;
}

.v.r::before,
.f.r::before {
  border-right-width: 0;
}

.v.r::before {
  left: calc(50% - (var(--w) / 2));
}

.v.d:before,
.f.d::before {
  border-left-width: 0;
  border-top-width: 0;
}

.v.l::before,
.f.l::before {
  border-left-width: 0;
}

.v.l::before,
.v.d:before {
  left: 0;
}

.f.l::before {
  right: 0;
  left: unset;
}

/* .f.r+.v.l::before {
  height: calc(var(--h) - 7px);
} */

.v>*,
.f>* {
  pointer-events: none;
}

.tl a {
  transform: rotate(-90deg);
}

.tr a {
  transform: rotate(-180deg);
}

.br a {
  transform: rotate(90deg);
}

.v.b.fb {
  background: url("imgs/fb.v.b.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  /* background-position-x: -0.8px; */
  background-position-y: -1px;
  border-color: transparent;
}

.v.b.fb,
.v.b.fb>*,
.v.b.fb::before,
.v.b.fb::after {
  filter: invert(var(--invert));
}

.v.b>i,
.v.bc>i {
  display: inline-block;
  position: absolute;
  /* height: var(--w); */
  height: 1px;
  /* top: calc(-1 * var(--w)); */
  top: -1px;
  /* left: 50%;
  width: calc(50% + var(--l) / 2); */
  /* left: 100%; */
  left: 100%;
  /* width: 50%; */
  /* width: calc((var(--l) / 2) + (var(--w) / 2)); */
  width: calc(var(--vehicle-spacer) + (var(--w) / 2));
  background-color: var(--color1);
}

.v.bc.l>i {
  width: calc(50% + var(--vehicle-spacer) + (var(--w) / 2));
}

.v.b.fb>i {
  left: 50%;
  width: calc(50% + var(--vehicle-spacer) + (var(--w) / 2));
}

.v.b.fb a {
  position: absolute;
  left: 90%;
  translate: 0 -1.4px;
}

.v::after,
.f::after {
  content: "";
  position: absolute;
  pointer-events: none;
  cursor: default;
}

.v.d::after,
.f.d::after {
  border-left: var(--t) solid transparent;
  border-right: var(--t) solid transparent;
  border-bottom: var(--t) solid var(--color1);
  bottom: calc(100% + var(--h));
  transform: translateX(-50%);
  left: 50%;
}

.f.d::after {
  bottom: calc(100% + var(--h));
}

.v.l::after,
.f.l::after {
  border-top: var(--t) solid transparent;
  border-right: var(--t) solid var(--color1);
  border-bottom: var(--t) solid transparent;
  bottom: calc((100% + var(--h)) - var(--t) - (var(--w) / 2));
  left: calc(-1 * var(--t));
}

.f.l::after {
  right: 400%;
  left: unset;
}

.v.r::after,
.f.r::after {
  border-top: var(--t) solid transparent;
  border-left: var(--t) solid var(--color1);
  border-bottom: var(--t) solid transparent;
  bottom: calc((100% + var(--h)) - var(--t) - (var(--w) / 2));
  left: 100%;
}

.f.r::after {
  left: 400%;
}

.f.l::after,
.f.r::after {
  bottom: calc((100% + var(--h)) - var(--t) - (var(--w) / 2));
}

/* .f.r+.v.l::after {
  bottom: calc((100% + var(--h)) - var(--t) - (var(--w) / 2) - 7px);
} */

.f~.v:nth-child(3) {
  /* left: calc(130% + (var(--l) * 2)); */
  left: calc(100% + var(--vehicle-width) + var(--vehicle-spacer) * 5);
}

.v:empty+.v:nth-child(3):not(:empty, .b) {
  /* left: 155%; */
  left: calc(100% + var(--vehicle-width) + var(--vehicle-spacer) * 3);
}

.content[type="S"] .v:not(:empty)+.v:nth-child(3) {
  display: none;
}

/* .content[type="S"] .v:nth-child(2):not(:empty)~.v.b:nth-child(4) {
  left: calc(100% + var(--l) + 5px);
} */

.v.b {
  top: calc(1.5 * var(--vehicle-width) + var(--vehicle-spacer));
}

.v.bc {
  top: calc(2 * (1.5* var(--vehicle-width) + var(--vehicle-spacer)));
}

.v.b::before {
  height: calc(100% + 5px + 45%);
  /* left: calc(50% + (var(--l) / 2) + (var(--w) / 2)); */
  /* left: calc(50% + var(--vehicle-spacer) + (var(--w) / 2)); */
  left: calc(100% - (var(--w) / 2));
}

.v.bc::before {
  height: 90%;
  left: calc(100% - (var(--w) / 2));
}

.v.bc.l::before {
  left: calc(150% - (var(--w) / 2));
}

.v.b.r::before,
.v.bc.r::before {
  left: calc(150% - var(--w));
}

.v.b.d::after {
  left: calc(100% + var(--vehicle-spacer) + (var(--w) / 2));
  bottom: calc(200% + 5px + 45%);
  /* bottom: calc(245% + 5px - 3px); */
}

.v.bc.d::after {
  left: calc(100% + var(--vehicle-spacer) + (var(--w) / 2));
  bottom: 190%;
}

.v.b.l::after {
  /* left: calc(100% - (var(--t) / 2) - (var(--w) / 2)); */
  left: calc(100% - var(--t) - (var(--w) / 2));
  bottom: calc(245% - var(--t) + var(--w) / 2 + 3px);
}

.v.bc.l::after {
  /* left: calc(100% - (var(--t) / 2) - (var(--w) / 2)); */
  left: calc(170% - var(--t) - (var(--w) / 2));
  bottom: calc(190% - var(--t) - var(--w) / 2);
}

.v.b.r::after {
  /* left: calc(200% + var(--w) / 2); */
  left: calc(150% + var(--vehicle-spacer));
  bottom: calc(245% - var(--t) + var(--w) / 2 + 3px);
}

.v.bc.r::after {
  left: calc(150% + var(--vehicle-spacer));
  bottom: calc(190% - var(--t) - var(--w) / 2);
}

/* for when first v is empty */
.v:empty:nth-child(2)~.v.b i {
  display: none;
}

.v:empty:nth-child(2)~.v.b.l::before {
  left: 0;
  height: calc(70% + 6px + 73%);
}

.f.r+.v:empty:nth-child(2)~.v.b.l::before {
  left: 0;
  height: calc(40% + 6px + 73%);
}

.v:empty:nth-child(2)~.v.b.l::after {
  left: calc(-1 * var(--t) + 2px);
  bottom: calc(248% - var(--t) + var(--w) / 2 + 3px);
}

.f.r+.v:empty:nth-child(2)~.v.b.l::after {
  bottom: calc(218% - var(--t) + var(--w) / 2 + 3px);
}

.v:empty:nth-child(2)~.v.b.r::before {
  left: calc(50% - (var(--w) / 2));
}

.v:empty:nth-child(2)~.v.b.r::after {
  left: 100%;
}

.v:empty:nth-child(2)~.v.b.d::before {
  left: 0;
  height: calc(50% + 6px + 73%);
}

.v:empty:nth-child(2)~.v.b.d::after {
  left: 50%;
  bottom: calc(248% - var(--t) + var(--w) / 2 + 3px);
}

.v:empty:nth-child(2)~.v.b.d a::before {
  content: "\01F807";
  position: absolute;
  left: calc(var(--vehicle-width) * -1.7 + 50%);
  font-size: calc(var(--fsize) + 4pt);
  transform-origin: center 25%;
  visibility: hidden;
  top: 50%;
}

.v:empty:nth-child(2)~.v.b.d.al a::before {
  transform: translate(-50%, -25%) scale(1);
  visibility: visible;
}

.v:empty:nth-child(2)~.v.b.d.ar a::before {
  transform: translate(-50%, -25%) scale(-1);
  visibility: visible;
}

/* --------- */

.c>div:not(.sign):empty {
  background-color: var(--color3);
}

.c>div:not(.sign):empty::before,
.c>div:not(.sign):empty:after {
  display: none;
}

.c>div.f:empty {
  width: 8px;
  left: calc(100% + 5px);
}

.sign {
  position: absolute;
  top: 5%;
  right: 5%;
  /* width: 30%; */
  width: calc(var(--vehicle-width) + 1pt);
  aspect-ratio: 1;
  background-repeat: no-repeat;
  cursor: pointer;

  /* background-size: auto 100%;
  background-position: center center; */
  background-image: url("signs/signs.png");
  background-size: auto 100%;
}

.sign::before,
.sign::after {
  content: "";
  position: absolute;
  background-color: var(--color1);
}

.sign::before {
  height: 1px;
  width: 100%;
  top: 200%;
  left: 0;
}

.sign::after {
  width: 1px;
  height: 100%;
  top: 100%;
  left: calc(50% - 0.5px);
}

.c.fp .sign,
.c.no .sign,
.c.inrit-b .sign,
.c.inrit-s .sign {
  display: none;
}

div[class="sign"] {
  background-color: rgba(255, 0, 0, 0.4);
  background-image: none;
}

div[class="sign"]::before,
div[class="sign"]::after {
  display: none;
}

/* .sign.circle-tri {
  background-image: url("signs/circle-tri.png");
} */
.sign.diam-diam {
  /* background-image: url("signs/diam-diam.png"); */
  background-position-x: 20%;
}

.sign.tri-flipped {
  /* background-image: url("signs/tri-flipped.png"); */
  background-position-x: 40%;
}

.sign.tri-i {
  /* background-image: url("signs/tri-i.png"); */
  background-position-x: 60%;
}

.sign.tri-plus {
  /* background-image: url("signs/tri-plus.png"); */
  background-position-x: 80%;
}

.sign.tri-x {
  /* background-image: url("signs/tri-x.png"); */
  background-position-x: 100%;
}

.settings_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: max(200px, 15vw);
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: var(--color3);
  font-weight: 500;
  display: grid;
  grid: min-content auto min-content / auto;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 999;
  color: var(--color1);
  overscroll-behavior: contain;
}

.settings_container[open] {
  transform: none;
  box-shadow: 0 0 30px 10px var(--color2);
}

.settings_container>.title,
.settings_container>.about {
  /* background-color: rgba(119, 119, 119, 0.8); */
  background-color: var(--color3);
  filter: brightness(0.75);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  box-shadow: -2px 0 0 2px #000;
  z-index: 1;
}

.settings_container>.title {
  font-size: 1.2rem;
}

settings {
  display: block;
  height: 100%;
  overflow-y: scroll;
  padding: 15px;
}

setting {
  display: block;
}

setting:not(:first-child, :last-child) {
  margin-block: 10px;
}

setting:first-child {
  margin-bottom: 10px;
}

setting:last-child {
  margin-top: 10px;
}

setting>input,
setting>select {
  display: block;
  border-radius: 5px;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  border: none;
  min-height: 20px;
  padding: 5px;
  background-color: var(--color4);
  border: 1px solid var(--color0);
  color: var(--color1);
}

setting input:is([type="radio"], [type="checkbox"]) {
  accent-color: cyan;
}

setting>button,
#instructions button {
  appearance: none;
  border-radius: 5px;
  line-height: 1.5;
  background-color: var(--color4);
  cursor: pointer;
  color: var(--color1);
  border: 1px solid var(--color0);
  padding: 5px;
}

setting>label:first-child {
  user-select: none;
}

.settings_container>.about {
  display: grid;
  grid: 1fr / min-content 1fr;
  place-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.settings_container>.about:hover {
  filter: brightness(0.85);
}

.settings_container>.about::before {
  content: "\0024D8";
  font-family: inherit;
  font-size: 18pt;
  padding-inline: 10px;
}

.toggler {
  display: grid;
  width: 40px;
  aspect-ratio: 1;
  box-shadow: 0 0 25px 0 #000;
  background-color: var(--color2);
  border: 3px solid var(--color1);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-30%, -50%);
  border-radius: 0 999px 999px 0;
  place-items: center;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

.toggler::before {
  content: "";
  width: 30%;
  aspect-ratio: 1;
  border: 3px solid var(--color1);
  border-bottom-width: 0;
  border-left-width: 0;
  transform-origin: center center;
  transform: rotate(45deg) translate(-15%, 15%);
}

.settings_container[open] .toggler::before {
  transform: rotate(-135deg) translate(-15%, 15%);
}

.settings_container[open] .toggler {
  transform: translate(-50%, -50%);
  border-radius: 999px;
}

#page-count {
  position: fixed;
  width: auto;
  padding: 5px 10px;
  background-color: var(--color2);
  color: var(--color1);
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  cursor: default;
  z-index: 999;
  box-shadow: 0 0 10px 2px var(--color3);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 999px;
}

#instructions::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

#instructions {
  animation: zoom_in 0.3s;
}

@keyframes zoom_in {
  from {
    transform: scale(0.7);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

#instructions>div {
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

#instructions form {
  text-align: center;
  margin-top: 20px;
}

#instructions button {
  font-size: 1rem;
  padding: 5px 10px;
}

button:hover {
  background-color: var(--color2) !important;
  color: var(--color1) !important;
  border-color: var(--color1) !important;
}

#mce_downloader {
  display: none;
}

setting:has(#watermark:not(:checked))+fieldset,
*[disabled] {
  pointer-events: none;
  user-select: none;
  filter: opacity(.5);
}